@import url('https://fonts.googleapis.com/css?family=Aldrich&display=swap');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Limelight&display=swap');
@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');

body {
  overflow-x: hidden;
  overflow-y: hidden;
}

.App {
  text-align: center;
}

@keyframes Fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes Fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes Fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes Curtain {
  0% {
    background: url("imgs/curtain-close.jpg"), url("imgs/screen.gif");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position-y: bottom;
  }
  100% {
    background: url("imgs/curtain-open.gif"), repeating-radial-gradient(black, silver, black, black, black);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position-y: bottom;
  }
}

@-moz-keyframes Curtain {
  0% {
    background: url("imgs/curtain-close.jpg"), url("imgs/screen.gif");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position-y: bottom;
  }
  100% {
    background: url("imgs/curtain-open.gif"), repeating-radial-gradient(black, silver, black, black, black);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position-y: bottom;
  }
}

@-webkit-keyframes Curtain {
  0% {
    background: url("imgs/curtain-close.jpg"), url("imgs/screen.gif");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position-y: bottom;
  }
  100% {
    background: url("imgs/curtain-open.gif"), repeating-radial-gradient(black, silver, black, black, black);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position-y: bottom;
  }
}

.form-group {
  text-align: left;
}

.messages {
  text-align: center;
  min-height: 250px;
  max-height: 250px;
  background: url("imgs/clap.jpg");
  overflow-y: scroll;
  background-size: contain;
  background-repeat: round;
}

.card-text {
  word-wrap: normal;
  word-break: break-word;
  text-align: center;
  color: white;
}

.buttonDiv {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 40px;
}

.img-fluid {
  max-width: 60%;
  max-height: 375px;
  min-height: 325px;
  animation: Fade 2.70s;
  -moz-animation: Fade 2.70s;
  -webkit-animation: Fade 2.70s;
}

.users {
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Aldrich', sans-serif;
}

.usersDiv {
  max-height: 250px;
  overflow-y: scroll;
}

.card-title {
  text-align: center;
  margin-bottom: 0% !important;
}

.infoSpan {
  font-size: x-small;
  margin-left: 5px;
}

.dateSpan {
  font-size: xx-small;
  margin-right: 5px;
}

.progress {
  text-shadow: 1px 1px 1px black;
  background: transparent !important;
  overflow: visible !important;
  border-radius: 0% !important;
  margin-left: 30px;
  margin-right: 30px;
  font-family: 'Aldrich', sans-serif;
}

.statTitle {
  font-family: 'Permanent Marker', cursive;
  color: white;
  border-bottom: groove white;
}

.bg-danger {
  background: linear-gradient(darkred, tomato, darkred);
}

.bg-success {
  background: linear-gradient(darkgreen, lawngreen, darkgreen);
}

.bg-warning {
  background: linear-gradient(darkgoldenrod, yellow, goldenrod);
}

.bg-dark {
  background: linear-gradient(darkred, black, black, black, silver, black, black, black, darkred);
}

.badge-warning {
  background: linear-gradient(darkgoldenrod, yellow, goldenrod);
  text-shadow: 1px 1px 1px white;
}

.badge-success {
  background: linear-gradient(darkgreen, lawngreen, darkgreen);
  color: black !important;
  text-shadow: 1px 1px 1px white;
}

.badge-danger {
  background: linear-gradient(darkred, tomato, darkred);
  color: black !important;
  text-shadow: 1px 1px 1px white;
}

.badge-dark {
  background: linear-gradient(black, black, silver);
  text-shadow: 1px 1px 1px gold;
}

.badge {
  font-family: 'Aldrich', sans-serif !important;
}

.carousel-control-prev {
  background: url("imgs/arrow.gif");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  z-index: 0;
  cursor: pointer;
  top: 30px !important;
  height: 10%;
}

.carousel-control-next {
  background: url("imgs/arrow.gif");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  z-index: 0;
  transform: rotate(180deg);
  cursor: pointer;
  top: 30px !important;
  height: 10%;
}

.carousel-control-next-icon {
  width: 0px;
  z-index: -1;
  transform: rotate(180deg);
  top: -50px;
  display: none !important;
}

.carousel-control-prev-icon {
  width: 0px;
  z-index: -1;
  top: -50px;
  display: none !important;
}

.carousel-indicators {
  display: none !important;
}

.btn {
  vertical-align: baseline !important;
}

#brandSpan {
  vertical-align: -4px;
  font-family: 'Monoton', cursive;
  text-shadow: 1px 1px 1px gold;
  background: url("imgs/film-tape.gif"), rgba(94, 65, 3, 0.514);
  background-size: contain;
  background-repeat: round;
}

.spinnerSpan {
  vertical-align: -11px;
}

.navbar-toggler {
  background: url("imgs/marquee.gif") !important;
  background-size: 100% 100% !important;
}

.nav-link {
  font-family: 'Aldrich', sans-serif;
}

h3,
h4,
h5,
h6 {
  color: whitesmoke;
  font-family: 'Monoton', cursive;
}

h4 {
  color: white;
  text-shadow: 1px 1px 1px gold;
  background: linear-gradient(darkred, black, silver, black, darkred);
}

h3 {
  color: white;
  text-shadow: 1px 1px 1px gold;
  background: url("imgs/film-tape.gif"), rgba(196, 161, 4, 0.425);
  background-size: contain;
  background-repeat: round;
  padding: 10px;
}

.titleSpan {
  color: white;
  vertical-align: -11px;
  text-shadow: 1px 1px 1px gold;
  font-family: 'Monoton', cursive;
  background: url("imgs/film-tape.gif"), rgba(94, 65, 3, 0.678);
  background-size: contain;
  background-repeat: round;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 2px;
  padding-right: 2px;
}

.btn-dark {
  background: linear-gradient(black, black, silver);
  font-family: 'Aldrich', sans-serif;
}

.btn-dark:hover {
  background: linear-gradient(silver, black, black);
}

.btn-link {
  font-family: 'Aldrich', sans-serif;
}

.movieTitleDiv {
  font-family: 'Limelight', cursive;
  background: url("imgs/white-screen.gif"), url("imgs/film-tape.gif");
  background-size: cover, contain;
  background-blend-mode: multiply;
  background-clip: border-box;
  background-repeat: repeat-y, round;
  background-position: center;
  padding-bottom: 10px;
  padding-top: 10px;
  max-width: 100%;
  margin-left: 20px;
  margin-right: 20px;
  color: black;
  text-shadow: 1px 1px 1px rgba(255, 255, 0, 0.329);
  text-transform: uppercase; 
}

.movieTitleSpan {
  max-width: 100%;
  min-width: fit-content;
}

.userStrong {
  font-family: 'Limelight', cursive;
}

.movieStrong {
  font-family: 'Limelight', cursive;
  color: black;
}

.searchDiv {
  background: url("imgs/curtain-open.gif"), repeating-linear-gradient(black, black, silver);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position-y: bottom;
  animation: Curtain 5s;
  -moz-animation: Curtain 5s;
  -webkit-animation: Curtain 5s;
}

.insideSearch {
  background: url("imgs/curtain-open.gif"), url("imgs/screen.gif");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position-y: bottom;
  animation: Curtain 5s;
  -moz-animation: Curtain 5s;
  -webkit-animation: Curtain 5s;
}

.insideMovies {
  background: url("imgs/curtain-open.gif"), url("imgs/screen.gif");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  animation: Curtain 5s;
  -moz-animation: Curtain 5s;
  -webkit-animation: Curtain 5s;
  height: 460px;
}

.plot {
  margin-bottom: 50px;
  color: white;
  text-shadow: 1px 1px 1px darkred;
  margin-right: 30px;
  margin-left: 30px;
  /* background: rgba(0, 0, 0, 0.76); */
}

.released {
  color: white;
  text-shadow: 1px 1px 1px darkred;
  margin-right: 30px;
  margin-left: 30px;
  /* background: rgba(0, 0, 0, 0.76); */
}

.director {
  color: white;
  text-shadow: 1px 1px 1px darkred;
  margin-right: 30px;
  margin-left: 30px;
  /* background: rgba(0, 0, 0, 0.76); */
}

.amazon {
  text-decoration-line: none;
  margin-right: 30px;
  margin-left: 30px;
  /* background: rgba(0, 0, 0, 0.76); */
}

.trailer {
  font-family: 'Aldrich', sans-serif;
  margin-right: 30px;
  margin-left: 30px;
  /* background: rgba(0, 0, 0, 0.76); */
}

.plotTitle {
  font-family: 'Limelight', cursive;
  color: yellow;
  text-shadow: 1px 1px 1px white;
}

.releasedTitle {
  font-family: 'Limelight', cursive;
  color: yellow;
  text-shadow: 1px 1px 1px white;
}

.directorTitle {
  font-family: 'Limelight', cursive;
  color: yellow;
  text-shadow: 1px 1px 1px white;
  /* background: rgba(0, 0, 0, 0.76); */
}

.amazonTitle {
  color: yellow;
  text-shadow: 1px 1px 1px white;
}

.trailerTitle {
  color: yellow;
  text-shadow: 1px 1px 1px white;
}

p {
  font-family: 'Aldrich', sans-serif;
  word-wrap: normal;
  word-break: break-word;
  /* background: rgba(0, 0, 0, 0.76); */
}

.left {
  background: url("imgs/seats.jpg") !important;
  background-size: 100% 100% !important;
  background-repeat: no-repeat !important;
  background-clip: padding-box;
  padding-top: 10px !important;
}

.right {
  background: black !important;
  padding-top: 10px !important;
}

.card {
  background: #161616a9 !important;
  color: white;
  font-family: 'Aldrich', sans-serif;
  border-radius: 0px !important;
  border-bottom: .5px solid white !important;
}

form {
  margin-left: 20px;
  margin-right: 20px;
}

.table td {
  vertical-align: baseline !important;
  color: white;
  padding: 0px !important;
}

.table th {
  vertical-align: baseline !important;
  padding: 0px !important;
}

.table tr {
 background: url("imgs/film-tape.gif"), rgba(94, 65, 3, 0.514);
 background-size: contain;
 background-repeat: round;
}

.reviewTitle {
  color: white;
}

.details {
  margin-left: 50px;
  margin-right: 50px;
  padding: 0px 0px 0px 0px;;
  background: rgba(0, 0, 0, 0.733);
}

.modal-body {
  background: url("imgs/clap.jpg");
  background-size: cover;
  background-repeat: round;
  text-align: center;
}

h6 {
  font-family: 'Limelight', cursive;
  color: black;
}

.statsTitle {
  text-align: center;
  color: white;
  text-shadow: 1px 1px 1px black;
  padding-top: 70px;
}

#titleHeader {
  color: black;
  background: transparent;
}

.fa-brain {
  color: lightpink;
}

.homeLink {
  font-family: 'Aldrich', sans-serif;
  text-shadow: 1px 1px 1px transparent;
}

.homeText {
  font-family: 'Aldrich', sans-serif;
  color: black;
  text-shadow: 1px 1px 1px gold;
}

.label {
  font-family: 'Aldrich', sans-serif;
  color: black;
  text-shadow: 1px 1px 1px gold;
  margin-left: 5px;
}

.closeDiv {
  text-align: right;
}

.valid-feedback,
.invalid-feedback {
  font-family: 'Aldrich', sans-serif;
}

.form-control {
  border-style: inset !important;
  border-width: medium !important;
}

.is-invalid .form-control {
  border-color: red !important;
}

@media (max-width: 576px) {
  body {
    overflow-y: scroll;
  }
}