@import url('https://fonts.googleapis.com/css?family=Aldrich&display=swap');
@import url('https://fonts.googleapis.com/css?family=Limelight&display=swap');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');

body {
  overflow-x: hidden;
  overflow-y: auto;
  background: rgb(0, 0, 0) !important;
}

.App {
  text-align: center;
}

.form-group {
  text-align: left;
}

.messages {
  text-align: center;
  min-height: 190px;
  max-height: 190px;
  overflow-y: scroll;
}

.insideMessages > :first-child {
  border-top: solid .5px white;
}

.card-text {
  word-wrap: normal;
  word-break: break-word;
  text-align: center;
  color: white;
}

.buttonDiv {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 40px;
}

.users {
  text-align: center;
  font-family: 'Limelight', cursive;
}

.usersDiv {
  max-height: 250px;
  overflow-y: scroll;
}

.card-title {
  text-align: center;
  margin-bottom: 0% !important;
}

.infoSpan {
  font-size: x-small;
  margin-left: 5px;
}

.dateSpan {
  font-size: xx-small;
  margin-right: 5px;
}

.progress {
  text-shadow: 1px 1px 1px black;
  background: transparent !important;
  overflow: visible !important;
  border-radius: 0% !important;
  margin-left: 30px;
  margin-right: 30px;
  font-family: 'Aldrich', sans-serif;
}

.statDiv {
  margin-left: 20px;
}

.statTitle {
  color: white;
  border-bottom: solid 1px white;
  margin-top: 5px;
  margin-bottom: 5px;
}

.bg-danger {
  background: linear-gradient(darkred, tomato, darkred) !important;
}

.bg-success {
  background: linear-gradient(darkgreen, lawngreen, darkgreen) !important;
}

.bg-warning {
  background: linear-gradient(darkgoldenrod, yellow, goldenrod) !important;
}

.bg-dark {
  background: linear-gradient(darkred, black, black, black, silver, black, black, black, darkred);
}

.badge-warning {
  background: linear-gradient(darkgoldenrod, yellow, goldenrod);
  text-shadow: 1px 1px 1px white;
}

.badge-success {
  background: linear-gradient(darkgreen, lawngreen, darkgreen);
  color: white !important;
  text-shadow: 1px 1px 1px black;
}

.badge-danger {
  background: linear-gradient(darkred, tomato, darkred);
  color: white !important;
  text-shadow: 1px 1px 1px black;
}

.badge-dark {
  background: linear-gradient(black, black, silver);
  text-shadow: 1px 1px 1px gold;
}

.badge {
  font-family: 'Aldrich', sans-serif !important;
}

h3,
h4,
h5,
h6 {
  font-family: 'Monoton', cursive;
}

h4 {
  color: white;
  text-shadow: 1px 1px 1px gold;
  background: linear-gradient(darkred, black, silver, black, darkred);
}

h3 {
  color: white;
  text-shadow: 1px 1px 1px gold;
  background: url("imgs/film-tape.gif"), rgba(196, 161, 4, 0.425);
  background-size: contain;
  background-repeat: round;
  padding: 10px;
}

.movieStrong {
  font-family: 'Limelight', cursive;
  color: black;
}

.searchDiv {
  background: transparent;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.insideSearch {
  background: transparent;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

p {
  font-family: 'Aldrich', sans-serif;
  word-wrap: normal;
  word-break: break-word;
}

.left {
  background: url("https://i-love-png.com/images/movie_theater_png_903217.png"), black !important;
  background-size: 100% 100% !important;
  background-clip: border-box;
  background-position: -3px !important;
  padding-top: 10px !important;
  height: 695px;
}

.right {
  background: black !important;
  padding-top: 10px !important;
  height: 695px;
}

.card {
  background: transparent !important;
  color: white;
  font-family: 'Aldrich', sans-serif;
  border-radius: 0px !important;
  border-bottom: .5px solid white !important;
}

form {
  margin-left: 20px;
  margin-right: 20px;
}

.table td {
  vertical-align: baseline !important;
  color: white;
  padding: 0px !important;
}

.table th {
  vertical-align: baseline !important;
  padding: 0px !important;
}

.table tr {
 background: url("imgs/film-tape.gif"), rgba(94, 65, 3, 0.514);
 background-size: contain;
 background-repeat: round;
}

.reviewTitle {
  color: white;
}

.modal-content {
  background: url("imgs/clap.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.progDiv {
  margin-left: 20px;
  font-family: 'Limelight', cursive;
  font-size: smaller;
  text-decoration-line: underline;
  color: white;
}

.closeDiv {
  text-align: right;
  margin-top: 5px;
}

.modal-content {
  border-radius: 0% !important;
}

h6 {
  font-family: 'Limelight', cursive;
  color: black;
}

.statsTitle {
  text-align: center;
  color: white;
  text-shadow: 1px 1px 1px black;
  margin-top: 65px;
}

#titleHeader {
  color: black;
  background: transparent;
}

.fa-brain {
  color: lightpink;
}

.fa-stack {
  vertical-align: -8px !important;
}

.homeLink {
  font-family: 'Aldrich', sans-serif;
  text-shadow: 1px 1px 1px transparent;
}

.homeText {
  font-family: 'Aldrich', sans-serif;
  color: whitesmoke;
  text-shadow: .5px .5px .5px gold;
}

.label {
  font-family: 'Aldrich', sans-serif;
  color: whitesmoke;
  text-shadow: .5px .5px .5px gold;
  margin-left: 5px;
}

.valid-feedback,
.invalid-feedback {
  font-family: 'Aldrich', sans-serif;
  text-shadow: .5px .5px .5px white;
}

.form-control {
  border-style: inset !important;
  border-width: medium !important;
}

.is-invalid .form-control {
  border-color: red !important;
}

.page-logo {
  left: 15px;
}