@import url('https://fonts.googleapis.com/css?family=Aldrich&display=swap');

.btn {
  vertical-align: baseline !important;
}

.btn-dark {
  background: linear-gradient(black, black, silver);
  font-family: 'Aldrich', sans-serif;
}

.btn-dark:hover {
  background: linear-gradient(silver, black, black);
}

.btn-link {
  font-family: 'Aldrich', sans-serif;
}